{%	set title = 'All users' %}

{% extends "user/base.html" %}

{% block content %}

{% if users|length > 0 %}
	<div class="row">
{% 	for user in users %}
		<div class="col-md-12">
			<p>
				<a href="{{ path_for('getuser', { 'id': user.id }) }}">{{ user.title }}</a>
				<form method="post" role="form" action="{{ path_for('deleteuser', { 'id': user.id }) }}">
					<input type="hidden" name="_METHOD" value="delete"/>
					<button type="submit" class="btn btn-default">Delete</button>
				</form>
			</p>
		</div>
{% 	endfor %}
	</div>
{% else %}
	<p class="text-muted text-center">There are no users yet...</p>
{% endif %}

{% endblock content %}